a{
  color: #0c53a5;
}

#option-container {
    /* margin-bottom: 20px; */
    margin-left: 10px;
    /* background-color: blue; */
    display:block;
  }

  /* 选中状态的样式 */
input[type="checkbox"]:checked {
  border: 6px solid #3498db;
}

.option_checkbox {
  cursor: pointer;
  padding: 3px 1%;
  margin: 3px 1%;
  /* margin: 5px 10px; */
  border-radius: 10px;
  width: 45%;
  /* font-size: 15px; */
  min-width: 250px;
  background-color: #f2f2f2;
  transition: 0.2s all linear;
  white-space:nowrap; 
  display:inline-block;
  overflow: hidden
  }
.option_checkbox:hover {
  background-color: #e9eff6;
}

.project-conference {
  background-color: #e0f1f894; /* 淡蓝色背景 */
  margin: 3px;
  padding: 5px 5px; /* 内边距，使文本与背景之间有一定的空间 */
  border-radius: 4px; /* 圆角边框 */
  color: #333; /* 文本颜色，根据背景色调整以确保可读性 */
  font-size: 16px; /* 字体大小 */
}

.masthead{
  position: sticky;
  top: 0; /* 当页面滚动到header顶部时，它将固定在顶部 */
  background-color: #fff;
  z-index: 1000;
}

.project-buttom {
  background-color: #e0f1f894; /* 淡蓝色背景 */
  margin: 5px;
  padding: 5px 5px; /* 内边距，使文本与背景之间有一定的空间 */
  border-radius: 4px; /* 圆角边框 */
  color: #333; /* 文本颜色，根据背景色调整以确保可读性 */
  font-size: 16px; /* 字体大小 */
  text-decoration: none;
}
.project-buttom:hover {
  background-color: #b9e8fcbb;
  /* color: white; */
}

.project_class_checkbox {
  display:inline;
}

.project_card {
  display: flex;
  border: 2px solid #3498db; /* 边框宽度为2px，实线，颜色为#3498db */
  border-radius: 4px; /* 边框圆角半径为8px */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
  padding: 10px; /* 内边距，确保内容不会被边框覆盖 */
  margin: 10px 20px; /* 外边距，确保元素间有足够的空间 */
  background-color: #fff; /* 背景颜色 */
  color: #333; /* 文字颜色 */
  line-height: 1.5; /* 行高 */
  width: 100%;
}

/* .project_card {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  height: 200px;
  width: 98%;
} */

.project-image {
  max-width: 30%;
  width: 200px;
  height: 160px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.project-content {
  display: flex;
  max-height: 90%;
  flex-direction: column;
  overflow-y: auto;
}

.project-title {
  margin: 0;
}

.project-text {
  margin: 5px 0;
}

/* .project-link {
  background-color: #3498db;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  margin: 0;
} */

/* .project-link:hover {
  background-color: #2980b9;
} */


.custom_title {
  /* color: #3480d9; */
  color:#0c53a5;
  font-size: 38px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  /* font-weight: 800; */
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 800;
  line-height: 44px;
  box-sizing: border-box;
}

.custom_project_back_card{
  background-color: #fafbfd;
  border-radius: 10px;
  padding: 20px;

}

.custom_buttom{
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: left;
  background-color: #f3f3f3;
  border-radius: 4px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  color:black;
  
}

.custom_buttom:hover {
  background-color: #0c53a5;
  color: white;
}